{
    "extends": ["airbnb"],
    "env": {
        "browser": true,
        "node": true,
        "jest": true,
        "es6": true
    },

    "plugins": ["react"],
    "parser": "babel-eslint",
    "parserOptions": {
        "sourceType": "module",
        "allowImportExportEverywhere": true
    }
}